section {
    padding: 20px;
    width: 300px;
    height: 150px;
    line-height: 150px;
    color: aliceblue;
    text-align: center;
}

.section-one {
    background-color: darkcyan;
}

.section-two {
    line-height: normal;
    text-align: justify;
    background-color: darkslateblue;
}

.section-three {
    background-color: darksalmon;
}