section {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid slateblue;
}

section img {
    margin-right: 5px;
    width: 30px;
    border: 1px solid azure;
    border-radius: 100%;
}

.section-one {
    background-color: darkturquoise;
}

.section-two {
    background-color: darksalmon;
}

h2 {
    margin: 0;
}


/* MEDIA QUERY */
@media (min-width: 768px) {

    section {
        width: 600px;
    }

}