/* GERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    /* padding: 10px; */
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* FLEXBOX */
.flex-cantainer {
    width: 500px;
    height: 500px;
    /* border: 1px dashed darkslategray; */

    display: flex;

    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row nowrap;

    /* align-items: start; */
    justify-content: start;
    align-content: start;
    
    background-color: #fffbe9;
}

.flex-item {
    /* margin: 5px; */
    width: 80px;
    height: 80px;
    line-height: 80px;

    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 320px; */
    /* flex: 1 0 0; */

    text-align: center;
    border-radius: 20px;
    font-weight: 500;
    color: #fafafa;
    background-color: #c0945a;
}


/* Selecionando ítens específicos */

/* .flex-item:nth-child(2) {
    flex: 3 0 0;
    background-color: olivedrab;
} */

.flex-item:nth-child(1) {
    align-self: end;
    order: 1;
}

.flex-item:nth-child(2) {
    align-self: center;
}

.flex-item:nth-child(3) {
    align-self: end;
}