/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */


/* Variáveis */
:root {
    --primary-color: #0a1128;
    --white-color: #fff;
    --gap: 3rem;
}


/* Resets gerais */
* {
    margin: 0;
    padding: 0;
}


/* Estilizando estruturas */
html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
}


/* Formatando cabeçalho */
h1 {
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

h6 {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.main-bg {
    color: var(--white-color);
    background-image: url(../img/main-bg.svg);
    background-size: cover;
    background-position: center;
}

.white-bg {
    background: var(--white-color);
}


/* Extrutura */
.main-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    background-color: var(--white-color);
}