/* Fontes: 
        font-family: "Montserrat", sans-serif;
        font-family: "Open Sans", sans-serif;
*/

/* GERAL */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color);
    line-height: 1.5;
}


/* CABEÇALHOS */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 6rem;
}

h2 {
    margin-bottom: 5rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 5.5rem;
}

h3 { font-size: 5rem; }

h4 { font-size: 4.5rem; }

h5 { font-size: 4rem; }

h6 { font-size: 3.5rem; }


/* LINKS */
a { text-decoration: none; }


/* PARÁGRAFOS */
p { margin-bottom: 3rem; }


/* TABELAS */
.responsive-table {
    overflow-x: scroll;
}

table {
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
}

table caption {
    margin: 10px;
    text-align: left;
    font-style: italic;
    font-size: 1.6rem;
}

table td, table th {
    padding: 1rem;
    border: 0.1rem solid var(--light-gray-color);
    text-align: left;
    white-space: nowrap;
}

table thead th, tfoot td {
    background-color: var(--light-gray-color);
}