/* Fontes: 
        font-family: "Montserrat", sans-serif;
        font-family: "Open Sans", sans-serif;
*/

/* INTRO */
.intro-content {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    /* border: 1px solid tomato; */
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
}


/* TOP 3 */
.top3-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 64rem;
    height: 100vh;
    /* border: 1px solid tomato; */
    text-align: center;
}