@charset "utf-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8f8f8;
}

ul li::before {
    content: ' #';
}

ul li::after {
    content: ' - ';
}

p.parag-1::first-letter {
    margin-right: 25px;
    padding: 0px 40px 8px;
    float: left;
    display: block;
    border-radius: 5px;
    font-size: 80px;
<<<<<<< HEAD
    color: #f8f8f8;
    background-color: cadetblue;
=======
    display: block;
>>>>>>> 0e487b7e8d268937da48cef816e8db5dcebd3311
}

p.parag-2::first-line {
    background-color: aquamarine;
}

p.parag-3::selection {
    color: floralwhite;
    background-color: brown;
}

.form-input::placeholder {
    font-weight: bold;
    color: darkred;
}