@charset "utf-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8f8f8;
}

ul li::before {
    content: ' #';
}

ul li::after {
    content: ' - ';
}

p.parag-1::first-letter {
    margin: 0 20px 0 0;
    float: left;
    font-size: 80px;
    display: block;
}

p.parag-2::first-line {
    background-color: aquamarine;
}

p.parag-3::selection {
    color: floralwhite;
    background-color: brown;
}

.form-input::placeholder {
    font-weight: bold;
    color: darkred;
}